<div>
  <nav class = header__nav>
    <ul class="class header__nav-list">
      <li class="class header__nav-item"><a routerLink="/home">Trang chủ</a></li>
      <li class="class header__nav-tag">Đăng kí</li>
      <input id = "find" type="text" placeholder = "Tìm kiếm">
    </ul>
  </nav>

<form [formGroup]="registerForm">
<div>
  <input id = "email" type="text" formControlName="email" placeholder = "Email" >
  <!-- Angular If - câu lệnh kiểm tra điều kiện -->
  <div *ngIf="checkEmail">
    <p>Email đã được sử dụng</p>
  </div>
</div>

<div class="form">
  <input id = "" type="text" formControlName="password" placeholder = "Mật khẩu" >
</div>

<div class="form">
  <input id = "" type="text" formControlName="repassword" placeholder = "Nhập lại mật khẩu" >
  <div *ngIf="checkPassword">
    <p>Password nhập lại không đúng</p>
  </div>
</div>

<div class="status">
  <select formControlName="role">
    <option value="student">Sinh viên</option>
    <option value="professor">Giảng viên</option>
  </select>
</div>
</form>
  <!-- Thực hiện 1 điều gì đấy -->
  <button (click)="signUp()">Đăng kí</button>
  <div *ngIf="checkValidate">
    <p>Không được để trống các giá trị!</p>
  </div>
  <div class = "question">
    Bạn đã có tài khoản?
    <div class = "" routerLink="/sign-in">Đăng nhập</div>
  </div>
</div>
