<div>
  <nav class = header__nav>
    <ul class="class header__nav-list">
      <li class="class header__nav-item">Trang chủ</li>
      <li class="class header__nav-item">Trang cá nhân</li>
    </ul>
  </nav>

  <nav class = header__nav>
    <ul class="class header__nav-list">
      <li class="class header__nav-tag">Dương Diễm Quỳnh- Phản hồi</li>
      <input id = "find" type="text" placeholder = "Tìm kiếm">
    </ul>
  </nav>
  <div class="info">
    <img src="assets/image/quynh.jpg" alt="Tên" width="40" height="60">
    <div>Dương Diễm Quỳnh</div>
    <div>CTTN ĐTTT K62</div>
    <button>Chấm điểm</button>
  </div>
  <div>Tất cả</div>
  <div>0-2</div>
  <div>2-4</div>
  <div>4-6</div>
  <div>6-8</div>
  <div>8-10</div>
  <div>Bình luận
    <img src="assets/image/quynh.jpg" alt="Tên" width="20" height="30">
    <div>Dương Diễm Quỳnh</div>
    <div>CTTN ĐTTT K62</div>
    <div>Hay nói chuyện trong giờ</div>
  </div>
  <div>Giảng viên chấm</div>
  <div>Sinh viên chấm</div>
</div>

