<div>
  <nav class = header__nav>
    <ul class="class header__nav-list">
      <li class="class header__nav-item"><a routerLink="/home">Trang chủ</a></li>
      <li class="class header__nav-item"><a routerLink="/sign-in">Đăng nhập</a></li>
      <li class="class header__nav-item"><a routerLink="/sign-up">Đăng kí</a></li>
    </ul>
  </nav>

  <nav class = header__nav>
    <ul class="class header__nav-list">
      <li class="class header__nav-tag">Xếp hạng sinh viên</li>
      <input id = "find" type="text" placeholder = "Tìm kiếm">
    </ul>
  </nav>
</div>

<table class="ranking">
  <tr class="ranking">
    <th>Viện Điện tử - Viễn Thông</th>
    <th>Lớp của bạn: Điện tử 02 - K63</th>
  </tr>
  <tr class="ranking">
    <th class="top" routerLink="/profile-visit">
      <img src="assets/image/quynh.jpg" alt="Tên" width="40" height="60">
      <div>Top 1</div>
      <div>Nguyễn Văn A</div>
      <div>9.5</div>

    </th>
    <th class="top">
      <img src="assets/image/quynh.jpg" alt="Tên" width="40" height="60">
      <div>Top 1</div>
      <div>Nguyễn Văn X</div>
      <div>9.5</div>
    </th>
  </tr>
  <tr class="ranking">
    <th class="top">
      <img src="assets/image/quynh.jpg" alt="Tên" width="40" height="60">
      <div>Top 2</div>
      <div>Nguyễn Văn B</div>
      <div>8.5</div>
    </th>
    <th class="top">
      <img src="assets/image/quynh.jpg" alt="Tên" width="40" height="60">
      <div>Top 2</div>
      <div>Nguyễn Văn Y</div>
      <div>8.5</div>
    </th>
  </tr>
  <tr class="ranking">
    <th class="top">
      <img src="assets/image/quynh.jpg" alt="Tên" width="40" height="60">
      <div>Top 3</div>
      <div>Nguyễn Văn C</div>
      <div>7.5</div>
    </th>
    <th class="top">
      <img src="assets/image/quynh.jpg" alt="Tên" width="40" height="60">
      <div>Top 3</div>
      <div>Nguyễn Văn Z</div>
      <div>7.5</div>
    </th>
  </tr>
</table>
