<div>
  <nav class = header__nav>
    <ul class="class header__nav-list">
      <li class="class header__nav-item">Trang chủ</li>
      <li class="class header__nav-item">Trang cá nhân</li>
    </ul>
  </nav>

  <nav class = header__nav>
    <ul class="class header__nav-list">
      <li class="class header__nav-tag">Dương Diễm Quỳnh</li>
      <input id = "find" type="text" placeholder = "Tìm kiếm">
    </ul>
  </nav>
  <div class="info">
    <img src="assets/image/quynh.jpg" alt="Tên" width="40" height="60">
    <div>Dương Diễm Quỳnh</div>
    <div>8.5</div>
    <button>Chi tiết</button>
    <button>Chấm điểm</button>
  </div>
<div class="more-info">
<div>Viện: ĐTVT</div>
<div>Khóa: 62</div>
<div>Lớp: CTTN ĐTTT K62</div>
<div>Chuyên ngành: ĐTMT</div>
<div>Nghiên cứu: Không</div>

</div>
